Sesion4/ClienteEjercicioWS/xml-resources/web-service-references/empleadoWS/wsdl/localhost_8080/EjercicioWS/empleadoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.dev.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dev.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="consultaEmpleados" type="tns:consultaEmpleados"/>

<xs:element name="consultaEmpleadosResponse" type="tns:consultaEmpleadosResponse"/>

<xs:element name="departamento" type="tns:departamento"/>

<xs:element name="empleado" type="tns:empleado"/>

<xs:element name="registrarEmpleado" type="tns:registrarEmpleado"/>

<xs:element name="registrarEmpleadoResponse" type="tns:registrarEmpleadoResponse"/>

<xs:complexType name="consultaEmpleados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultaEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="dpto" type="tns:departamento" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int" use="required"/>
</xs:complexType>

<xs:complexType name="departamento">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int" use="required"/>
</xs:complexType>

<xs:complexType name="registrarEmpleado">
<xs:sequence>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>