Sesion4/ClienteEjercicioWS/src/META-INF/wsdl/localhost_8080/EjercicioWS/empleadoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dev.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dev.com/" name="empleadoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dev.com/" schemaLocation="http://localhost:8080/EjercicioWS/empleadoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="registrarEmpleado">
<part name="parameters" element="tns:registrarEmpleado"/>
</message>
<message name="registrarEmpleadoResponse">
<part name="parameters" element="tns:registrarEmpleadoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="consultaEmpleados">
<part name="parameters" element="tns:consultaEmpleados"/>
</message>
<message name="consultaEmpleadosResponse">
<part name="parameters" element="tns:consultaEmpleadosResponse"/>
</message>
<portType name="empleadoWS">
<operation name="registrarEmpleado">
<input wsam:Action="http://ws.dev.com/empleadoWS/registrarEmpleadoRequest" message="tns:registrarEmpleado"/>
<output wsam:Action="http://ws.dev.com/empleadoWS/registrarEmpleadoResponse" message="tns:registrarEmpleadoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.dev.com/empleadoWS/registrarEmpleado/Fault/Exception"/>
</operation>
<operation name="consultaEmpleados">
<input wsam:Action="http://ws.dev.com/empleadoWS/consultaEmpleadosRequest" message="tns:consultaEmpleados"/>
<output wsam:Action="http://ws.dev.com/empleadoWS/consultaEmpleadosResponse" message="tns:consultaEmpleadosResponse"/>
</operation>
</portType>
<binding name="empleadoWSPortBinding" type="tns:empleadoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="consultaEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="empleadoWS">
<port name="empleadoWSPort" binding="tns:empleadoWSPortBinding">
<soap:address location="http://localhost:8080/EjercicioWS/empleadoWS"/>
</port>
</service>
</definitions>